<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Telegram GPT Chat Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <form th:action="@{/logout}" method="post" id="form-logout">
                <a class="nav-link active" style="cursor: pointer"
                   onclick="document.getElementById('form-logout').submit()">
                  Logout
                </a>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <h1 class="text-center p-4">Admin Menu</h1>
      </div>
      <div class="row m-auto p-2 w-50">
        <a type="button" class="btn btn-dark btn-lg"
           th:href="@{/admin/chats}">Chats</a>
      </div>
      <div class="row m-auto p-2 w-50">
        <a type="button" class="btn btn-dark btn-lg"
           th:href="@{/admin/users}">Users</a>
      </div>
    </div>
  </body>
</html>
